---
---

@charset "utf-8";

$masthead-link-color: white;
$navicon-link-color-hover: cadetblue;
$navicon-link-color: white;

.main {
    &.collections {
        display: flex;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            /* Styles */
            flex-direction: column-reverse;  
        }
    }
}

#main {
    & img {
        width: 99%;
        z-index: 0;
    }

    table {
        display: inline-table;
        thead {
            color: white;
            background-color: cadetblue;
            border: 2px solid mix(rgb(73, 114, 87), teal, 25%);
        }


        td {
            padding: 0.5em;
            border: 1px solid mix(rgb(78, 153, 55), teal, 50%);
        }
    }

    .nav__title {
        background-color: cadetblue;
        border: 1px solid mix(rgb(78, 153, 55), teal, 50%);
    }
      

    .ctable {
        display: flex;
        flex-wrap: wrap;
        .column {
            &.head {
                display: flex;
                color: white;
                background-color: cadetblue;
                min-width: 200px;
                border: 2px solid mix(rgb(73, 114, 87), teal, 25%);
                div {
                    padding: 0.5rem;
                    margin: auto;   
                }
                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    /* Styles */
                    flex: 0 1 100%;
                }
            }

            &.lang {
                div {
                    padding: 0.5rem;
                    background-color: antiquewhite;
                    border: 1px solid mix(rgb(73, 114, 87), teal, 25%);
                    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                        /* Styles */
                        border-left: 1px solid mix(rgb(73, 114, 87), teal, 25%);;
                    }
                    border-left: none;
                }
            }

            &.content {
                flex: 1;
                & > div {
                    border: 1px solid mix(rgb(73, 114, 87), teal, 25%);
                    border-left: none;
                }

                .content-wrapper {
                    display: flex;
                    flex-direction: column;

                    &  > div {
                        display: flex;
                        border: 1px solid mix(rgb(73, 114, 87), teal, 25%);

                        .lang {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 50px;
                            background: aliceblue;
                        }

                        .desc {
                            flex: 1;
                        }

                        .high-background {
                            border-radius: 0.5em;
                            margin: 0.3em;
                            background: black;

                            .pre-code {
                                margin: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.masthead {
    background-color: cadetblue;
    .greedy-nav {
        background-color: cadetblue;
        .hidden-links {
            background-color: teal;
        }
    }
    .greedy-nav__toggle {
        background-color: white;
    }
    .search__toggle {
        color: white;
    }
}

@import "minimal-mistakes"; // main partials