---
---

@charset "utf-8";

$masthead-link-color: white;
$navicon-link-color-hover: cadetblue;
$navicon-link-color: white;

.main {
    &.collections {
        display: flex;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            /* Styles */
            flex-direction: column-reverse;  
        }
    }
}

#main {
    & img {
        width: 99%;
        z-index: 0;
    }

    table {
        display: inline-table;
        thead {
            color: white;
            background-color: cadetblue;
            border: 2px solid mix(rgb(73, 114, 87), teal, 25%);
        }


        td {
            padding: 0.5em;
            border: 1px solid mix(rgb(78, 153, 55), teal, 50%);
        }
    }
  
}

.masthead {
    background-color: cadetblue;
    .greedy-nav {
        background-color: cadetblue;
        .hidden-links {
            background-color: teal;
        }
    }
    .greedy-nav__toggle {
        background-color: white;
    }
    .search__toggle {
        color: white;
    }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials